$yellow: repeating-linear-gradient( 45deg, #ffc800, #ffc800 5px, #ffc200 5px, #ffc200 10px);
$orange: repeating-linear-gradient( 45deg, #ff4f4c, #ff4f4c 5px, #ff4643 5px, #ff4643 10px);
$green: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);


// $secondary: #FD8B51;
$primary-white: rgb(255, 255, 255);



$white-text: white;
$data-display: orangered;


// $secondary-black: #252021;
// $secondary-light: #4c0827;
// $secondary-dark: #200116;
$secondary-light: #4c0827;
$secondary-dark: #200116;


// Purples and Dark Reds
$dark-purple: #411D2B;
$raisin-black: #211720;
$night: #110E15;
$black-bean: #2A0A11;
$chocolate-cosmos: #430E18;

// Deep Reds
// $black-bean: #320001; // Alternate shade of Black Bean
$dried-blood: #4B0000;
$rosewood: #590001;
$blood-red: #640000;
$red-oxide: #700100;

// Grays and Blacks
$davys-gray: #4C4C4E;
$jet: #38383A;
$raisin-black-alt: #29292B; // Another shade of Raisin Black
$eerie-black: #18181A;
$night-alt: #0C0C0F; // Another shade of Night

// Blues
$marian-blue: #384589;
$delft-blue: #2D3B6A;
$prussian-blue: #1D2D46;
$tekhelet: #47366D;
$ultra-violet: #5A4485;

// Indigo and Dark Blues
$tekhelet-alt: #522377; // Alternate shade of Tekhelet
$russian-violet: #36195B;
$penn-blue: #080B38;
$berkeley-blue: #133155;
$indigo-dye: #254D70;



$background-1: linear-gradient(to right top, #020024, #020734, #000d44, #000e54, #000e64, #011c74, #022984, #003694, #0050a2, #0066a9, #007aab, #168dab);
// $background-2: linear-gradient(to right top, #200116, #280a1c, #331021, #3e1526, #491b2b, #53202f, #5d2533, #672b36, #72323a, #7e393d, #894040, #944842);
$background-2: linear-gradient(to right top, #111010, #111010, #111010, #111010, #111010, #111010, #111010, #111010, #161515, #222121, #2b2929, #2b2929);

// $primary-blue: rgb(6, 28, 155);
$primary-blue: #005ecb;
$primary-text-gray: #888;
$primary-gray: #8888;
$primary-dark-gray: rgb(53, 49, 49);
